@tailwind base;
@import '../assets/base.css';

@tailwind components;
@import '../assets/components.css';

@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew&display=swap');

::-webkit-scrollbar {
  width: 0px;
}

.swiper-button-prev {
  left: 0;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  padding: 10px !important;
  background: #ffffff;
  opacity: 0.9;
  width: 10px;
  height: 20%;
}

.swiper-button-next {
  right: 0;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  padding: 10px !important;
  background: #ffffff;
  opacity: 0.9;
  width: 10px;
  height: 20%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem;
  font-weight: bolder;
  color: black;
}
